/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

img[alt=fit] { width: 100px; }


blockquote {
  font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
} 

#ptitle {
  font: 30px normal helvetica, sans-serif;
}

#ptitle a {
    text-decoration: none;
    color: black;
}

