/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 20px;
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: white;
  font-family: Times, helvetica, arial, clean, sans-serif;
}

.header {
  font-family: 'Latin Modern Mono', 'monospace', 'Courier New';
  font-size: 60px; 
  margin-left:20px; 
  margin-top:10px; 
  line-height:55px;
}

.subheader {
  font-family: 'Latin Modern Mono', 'monospace', 'Courier New'; 
  font-size:20px; 
  margin-left:20px; 
  line-height:25px;
}

.smallheader {
  font-family: 'Latin Modern Mono', 'monospace', 'Courier New';
  font-size: 40px; 
  margin-left:20px; 
  margin-top:10px;
  line-height:55px;}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

h1, .h1 {
  font-family: Times, arial, "Latin Modern Mono";
  margin-bottom: 1em;
  font-size: 2.0rem;
  text-align: center;
}

h2, .h2 {
  margin-bottom: 1em;
  font-size: 1.5rem;
  font-weight: bold;
}

h3, .h3 {
  margin-bottom: 1em;
  font-size: 1.25rem;
  font-weight: bold;
}

h4, .h4 {
  margin-bottom: 1em;
  font-size: 1.rem;
  font-weight: bold;
}

p {
  margin: 1em 0;
  color: #000;
}

a {
  color: #00a;
}

table {
  font-size: inherit;
  font: 100%;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.stickyy {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFFFF;
}

.stickynavv {
  position: fixed;
  top: 90px;
  width: 100%;
  background-color: #FFFFF;
}

.logo {
  width: 75%;
}

.smalllogo {
  width: 50%;
}

.navbar-default {
  background-color: #ffffff;
  border-color: #e7e7e7;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.25em;
  }

  ul.posts span {
    color: #b10000;;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

  ul.posts a{
    color: #000;
    text-decoration: none;
   }

  ul.posts a:hover {
    color: red;
  }

  ul.posts .tag {
	color: #7f0000;
	font-family: Monaco, "Courier New", monospace;
	font-size: 80%;
  }

  ul.posts .author {
	color: #808080	;
	font-size: 90%;
  }
  
  ul.posts .publication {
	font-size: 90%;
  }
  
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.container {
  /*max-width: 50rem;*/
  max-width: 900px;
  line-height: 1.5em;
  padding-right: 1px;

}

.site {
  font-size: 100%;
  margin-top: 10em;
  /*width: 50em;*/
}

.navigation {
  color: #a00;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 1em;
  font-family: "Latin Modern Mono";
}

  .navigation a {
    color: #b10000;
    text-decoration: none;
  }

   .navigation a:hover {
    color: black;
  }

   .navigation a.extra {
    color: #b10000;
    text-decoration: none;
    margin-left: 1em;
  }

   .navigation a.extra:hover {
    color: black;
  }

   .meta {
    color: #aaa;
  }

   .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

     .footer .contact {
      float: left;
      margin-right: 3em;
    }

       .footer .contact a {
        color: #8085C1;
      }

     .footer .rss {
      margin-top: 1.1em;
      margin-right: -.0em;
      float: right;
    }

      .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post {
  font-size: 1rem;
}

  /* standard */
  .post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  .post ul,
  .post ol {
    margin-left: 1.35em;
  }

  .post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    .post pre code {
      border: none;
    }

  /* terminal */

  .post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  .post pre.terminal code {
    background-color: #333;
  }
  
  .post .note {
	font-size: 0.8rem;
	font-style: italic;
  }
  
  .post .content p:first-of-type::first-letter {
	font-size: 4rem;
	}

  
 /* DEBUG */
/*
.row {
     border-style: solid;
	border-width:1px;
	border-color:green;
} 
.div {
     border-style: solid;
	border-width:1px;
	border-color:green;
}
*/

/*****************************************************************************/

img[alt=fit] { width: 100px; }


blockquote {
  font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
} 

.posttitle a {
    text-decoration: none;
    color: black;
}

