---
layout: default
title: La Maldekstra Kolono
---

<h1 id="articulos"> </h1>

<ul class="posts">
    {% for post in site.posts limit:20 %}
      <li>
		  <div class="row" style = "margin-bottom:20px;">
			<div class="col-xs-2 hidden-xs" style = "margin-right:30px; margin-top:55px;">
				{% if  post.image %}
				<img class='img-responsive' src="{{ site.baseurl }}/assets/{{post.image}}"  style="width:100px; height:100px;" alt="thumbnail" title="thumbnail">
				{% else %}
				<img class='img-responsive' src="{{ site.baseurl }}/assets/thumbnail-9N.png" style="width:100px; height:100px;" alt="thumbnail" title="thumbnail">
				{% endif %}
			</div>
			<div class="col-xs-12 col-md-9">
				<span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{site.baseurl}}{{ post.url }}"><b><div>{{ post.title }}</div></b></a>
				<!--<p>{{post.summary}}</p>--> 
				<p>{{ post.content | strip_html | truncatewords:50 }} <a href="{{site.baseurl}}{{ post.url }}"><b><div>[+]</div></b></a>	</p>
		  </div>
		 </div>
	  </li>
    {% endfor %}
</ul>

