---
layout: default
title: La Maldekstra Kolono
---

<div class="container">
<div class="row">


<h1 id="articulos"> </h1>
  <ul class="posts">
    {% for post in site.posts %}
    {% if post.type == "articulo" %}
      <li>
		  <div class="row">
			<div class="col-xs-1">
				{% if  post.thumbnail %}
				<img src="{{ site.baseurl }}/assets/{{post.thumbnail}}" height="75px" width="75px" alt="thumbnail" title="thumbnail">
				{% else %}
				<img src="{{ site.baseurl }}/assets/thumbnail-9N.png" height="75px" width="75px" alt="thumbnail" title="thumbnail">
				{% endif %}
			</div>
			<div class="col-xs-8">
				<span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{site.baseurl}}{{ post.url }}"><b>{{ post.title }}</b></a>
				<p>{{post.summary}}</p>
		  </div>
		 </div>
	  </li>
     {% endif %}
    {% endfor %}
  </ul>
  
  
<ul class="posts">
  {% for post in site.posts %}
    <li>
      <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      <img src="{{ site.baseurl }}/images/thumbnail.png" height=100px alt="HOLA" title="TITULO">
    </li>
  {% endfor %}
</ul>

  </div>
  </div>
