<head>
	
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta charset="{{ site.encoding }}">
	
	<!-- Automatically adapt the view to size of the device -->
	<meta name="viewport" content="width=device-width initial-scale=1">
  
	<title>{{ page.title }}</title>
	<meta name="author" content="Alberto Lumbreras" />
	<link href="http://feeds.feedburner.com/maldekstrakolono" rel="alternate" title="La Maldekstra Kolono" type="application/atom+xml" />
	<meta name="readability-verification" content="QCzSs992GxmRYRKVpPeZ6LE2tS8aYKxsSSQKV8YM"/>
	
	{% if page.image %}
		<meta property="og:image" content="http://www.maldekstrakolono.net/assets/{{ page.image }}" />
		<meta name="twitter:image" content="{{ page.image }}" />
	{% else %}
		<meta property="og:image" content="http://www.maldekstrakolono.net/images/maldekstra_thumbnail_pen.jpg" />
	{% endif %}
	
	{% if page.title %}
	  <!-- Article specific OG data -->
	  <!-- The OG:Type dictates a number of other tags on posts. -->
	  <meta property="og:type" content="article" />
	  <meta property="article:published_time" content="{{page.date}}" />
	  <meta property="og:type" content="article" />
	{% else %}
	  <meta property="og:type" content="website" />
	{% endif %}	
	

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/styles.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
