<!DOCTYPE html>
<html lang="es">
{% include head.html %}
<body>

	<section class="container">
			
		
		<div class="row">
		<div class="col-xs-12">	
			   <div style="float: left;">
					<img  class ="img-responsive center-block" src="{{ site.baseurl }}/images/maldekstra_thumbnail_pen_sinmargen.jpg"/>
				</div>
				<div>
					<div class = "header">Maldekstra Kolono</div>
					<div class = "subheader">Informa bulteno internacia pri lukto kontraû la faŝismo</div>
					 <hr style='border-color: black; margin-top:0px;'>
			   </div>
		</div>
		</div>	
	
	</section>
	
	<section class = "container">
	<div class="site">

				<!-- Menu -->
				<div class = "row">
					<div class="col-xs-12">
						<div id="nav" class="navigation">
							<a class="extra" href="{{ site.baseurl }}/index.html">Inicio</a>
							<a class="extra" href="{{ site.baseurl }}/archive.html">Archivo</a>
							<a class="extra" href="{{ site.baseurl }}/lecturas.html">Lecturas</a>
							<a class="extra" href="{{ site.baseurl }}/bio.html">Bio</a>
						</div>
					</div>
				</div>
				
				<!-- Content -->
				<div class = "row">
					<div class="col-xs-11">
					{{ content }}
					</div>
				</div>	
				
				<!-- Footer -->
				<div class="row">
					<div class="col-xs-12">
					{% include footer.html %}
					</div>
				</div>
	</div>

	</section>

	{% include scripts.html %}

</body>
</html>
